{% extends "./_layout.njk" %}

<html>
  {% block head %}
    <script>
      var fields = [ /*icon*/ "name", "symbol", "price_usd", "market_cap_usd", "id" ];
      const batch_size = 50;
      var last = 0;
      var lookupRequest = null;

      function get_more(filter) {
        var u = "/data/coins?start=" + last + "&limit=";
        if (filter && filter != "") {
          u += "99999"; // if we have filter we skip paging
          u += "&filter=" + filter;
          $("#getmore").hide();
        } else {
          u += batch_size;
          $("#getmore").show();
        }

        if (lookupRequest) {
          lookupRequest.abort();
        }

        lookupRequest = $.ajax(u, {
            dataType:"json",
            success: function(coins) {
              for (var coin_idx in coins) {
                var coin = coins[coin_idx];
                  append_coin(last + (+coin_idx) + 1, coin);
                }
                last += coins.length;
            },
            error: function(err) {
                console.log("error getting more coins' data: " + err);
            },
            complete: function() {
              lookupRequest = null;
              $("#search").removeClass("searching");
            }
        });
      }

      const search_delay_ms = 500;
      var search_timeout = null;
      $(function() { 
        // initialize search
        $("#search").keyup(function() {

          // if we have a timer set - cancel it
          if (search_timeout) {
            clearTimeout(search_timeout);
            search_timeout = null;
          }

          // set a new timeout
          search_timeout = setTimeout(function() {
            search_timeout = null;
            last = 0;
            $("#coins").html('');
            $("#search").addClass("searching");
            get_more($("#search").val());
          }, search_delay_ms);
        });

        // get initial batch
        get_more(); 
      });

      /* populate results of coins */
      function append_coin(index, coin) {
          // clear row
          var new_row = $("<tr />");
          new_row.data('coin_id', coin.id);
          new_row.attr('style', 'cursor: pointer');
          new_row.click(function() {
            location.href = 'https://coinmarketcap.com/currencies/' + $(this).data('coin_id') + '/';
          });

          // add number
          new_row.append($("<td/>").append(index));

          // fill in icon 
          var icon = $("<img class='coin' />").attr('src', coin.image_link);
          new_row.append($("<td/>").append(icon));

          // fill in the data
          for(var f = 0; f < fields.length; f++) {
            new_row.append($("<td/>").append(coin[fields[f]]));
          }

          $("#coins").append(new_row);
      }
    </script>
{% endblock %}
{% block content %}

<!--
  <br/>
  <h2>Please visit <a href="http://www.coinmarketcap.com">coinmarketcap.com</a></h2>
-->  
  <div class="input-group search">
    <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
    <input type="text" class="form-control" id="search" placeholder="enter serch term.." aria-describedby="basic-addon1">
  </div>

  <br />

  <div class="table-responsive">
    <table class="table table-hover pf-table">
      <thead>
        <tr>
          <th></th>
          <th colspan="2">Coin</th>
          <th>Symbol</th>
          <th>Price ($)</th>
          <th>Market Cap ($)</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody id="coins">
      </tbody>
    </table>
  </table>
  <br/>
  <div id="getmore">
    <span onclick="get_more($('#search').val())" style="cursor: pointer">load more...</span>
  </div>
  <br/><br/>
  
{% endblock %}
