{% extends "./_layout.njk" %}

{% block head %}
  <script src="/javascripts/dygraph.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js" integrity="sha256-c0m8xzX5oOBawsnLVpHnU2ieISOvxi584aNElFl2W6M=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/dygraph.css" />
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />

  <style>
    .going_up { color: green }
    .going_down { color: red }
    #__chart_loading { font-size: 22px; }
  </style>
  <script>
    $(function(){
      // Initialize google charts
      google.charts.load('current', {packages: ['corechart', 'line']});
      google.charts.setOnLoadCallback( function() { drawHistory(); });
    });

    function drawHistory() {
      // initialize the chart
      $.ajax('/history', {
        success: function(history) {
          var data = new google.visualization.DataTable();
          data.addColumn('date', 'Date');
          data.addColumn('number', 'Value');
          data.addRows(history.map(d => [ new Date(d[0]), d[1] ]));
          var options = {
            hAxis: { title: 'Date' },
            vAxis: { title: 'Value' },
            legend: 'none',
            curveType: 'function',
            pointSize: 2
          };
          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(data, options);
          $("#__chart_loading").hide();
        },
        error: function(xhr, err) {
          alert(err);
        }
      });

      // update data table
      $("#transactions").DataTable({
        "paging": false,
        "searching": false,
      });
    }
  </script>
{% endblock %}

{% block content %}

    <div class="container portfolio_summary">
      <div class="row">
        <div class="col-sm-12">
          <h2>${{ portfolio.value_usd | round(2) }}</h2>
          current portfolio value
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h3>{{ portfolio.total_cost | round(2) }}$</h3>
          total cost
        </div>
        <div class="col-sm-4">
          <h3>{{ portfolio.profit | round(2) }}$</h3>
          total profit
        </div>
        <div class="col-sm-4">
          <h3>{{ portfolio.profit_percent | round(2) }}%</h3>
          total profit
        </div>
      </div>
    </div>

    <br/>

    <div class="container portfolio_summary">
      <span id="__chart_loading">
        Loading history...
      </span>
      <div id="chart_div"></div>
    </div>

    <br />

    <div class="table-responsive" style="margin: 0 auto;">
      <table id="transactions" class="table" style="width: 60%; margin: auto">
        <thead>
          <tr>
            <th scope="col" colspan="2">Coin</th>
            <th scope="col">Value</th>
            <th scope="col">Cost</th>
            <th scope="col">Profit</th>
            <th scope="col">Profit %</th>
            <th scope="col">Curr Price</th>
            <th scope="col">Avg. Buy</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
        {% for coin in portfolio.coins %}
          <tr class="going_{% if (coin.profit > 0) %}up{% else %}down{% endif %}">
            <td><img class='coin' src='{{ coin.info.image_link }}' /></td>
            <td>{{ coin.info.name }} ({{coin.info.symbol}})</td>
            <td>${{ coin.value | round(2) }}</td>
            <td>${{ coin.cost | round(2)}}</td>
            <td>${{ coin.profit | round(2) }}</td>
            <td>{{ coin.profit_percent | round(2) }}%</td>
            <td>${{ coin.info.price_usd | round(4) }}</td>
            <td>${{ coin.avg_buy_price | round(4) }}</td>
            <td>{{ coin.amount }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>

  <br/><br/>
{% endblock %}
