{% extends "./_layout.njk" %}

{% block head %}
  <style>
    ul {
      list-style-type: none;
    }
  </style>
{% endblock %}

{% block content %}
  <h3>Jan 27th 2018 (2/2)</h3>
  <ul>
    <li>A<b>b</b>g. Buy Price ==> A<b>v</b>g. Buy Price</li>
    <li>Fix coins' info lookup bug (null deref error when starting)</li>
    <li>Remove unneeded search</li>
  </ul>

  <h3>Jan 27th 2018 (1/2)</h3>
  <ul>
    <li>Rearrange portfolio coins' columns (value next to cost)</li>
    <li>Change portfolio distrib pie chart to % (instead of $ value)</li>
    <li>Allow portfolio coins arrange by columns</li>
  </ul>

  <h3>Jan 26th 2018</h3>
  <ul>
    <li>Collect coin's history data into internal database</li>
    <li>Bug fix: dates have 0-based month</li>
    <li>Colored per-coin line (green = coin has earnings, red = coin is in lost)</li>
  </ul>

  <h3>Dec 26th 2017</h3>
  <ul>
    <li>First version. Welocme!</li>
  </ul>
{% endblock %}
